<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CGRD{% endblock %}</title>
    <link rel="stylesheet" href="/web/css/style.css">
</head>

<body>
    <div class="container">
        <img class="logo" src="/web/image/logo.svg" alt="Logo">
        {% block content %}{% endblock %}
    </div>
    <script type="module" src="/web/js/Main.js"></script>
</body>

</html>