{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="message" style="display: none;"></div>
{% if not newsList is empty %}
<div class="sub-container" id="news-container">
    <h2 class="sec-h">All News</h2>
    {% for news in newsList %}
    <div class="info-row" data-news-id="{{news.newsId}}">
        <div class="info-row-title">
            {{news.title}}
        </div>
        <div class="info-row-description">
            {{news.description}}
        </div>
        <div class="info-row-actions">
            <button type="button" class="i-btn" data-action="edit">
                <i class="i-btn-edit"></i>
            </button>
            <button type="button" class="i-btn" data-action="delete">
                <i class="i-btn-close"></i>
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="sub-container" id="news-creation-form">
    <form class="form" action="/admin/news/create" method="POST" id="create-news" data-role="create">
        <div class="form-header">
            <h2 class="sec-h" data-role="form-header">Create News</h2>
        </div>
        <input class="form-input" required type="text" placeholder="Title" name="_title" id="news-title">
        <textarea class="form-textarea" required name="_description" placeholder="Description" id="news-description"
            cols="30" rows="10"></textarea>
        <input type="hidden" name="_id" value="0" id="news-id">
        <button class="btn btn-submit" data-role="form-submit">Create</button>
    </form>
</div>
<div class="sub-container">
    <form class="form" action="/admin/logout">
        <button class="btn btn-submit">Logout</button>
    </form>
</div>
{% endblock %}